/* General element css */
html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em; /* 33px */
  padding-top: 1em; /* 26px */
  padding-bottom: 1em; /* 26px */
  line-height: 1.1;
  font-weight: bold;
  width: auto;
}

h2 {
  padding-bottom: 2em; /* 44px */
}

body {
  background-color: #7697B9;
}

input {
  color: #315881;
  padding: 1%;
}

input[type=submit] {
  cursor:pointer;
}

/* Classes */
.input-width-class {
  width: 98%;
  margin: auto;
}

.ad-container {
  background-color: #315881;
  color: #D7E3F0;
  width: 70%;
  margin: auto;
  padding: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

.signup-container {
  background-color: #D7E3F0;
  color: #315881;
  width: 70%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

/* ids */

#form-element-id {
  padding-top: 0.2273em; /* 5px */
  padding-bottom: 0.2273em; /* 5px */
}

@media only screen and (min-width: 768px){
  
}

@media only screen and (min-width: 1280px){
  
}